@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: 253, 151, 69; /* Orange */
  --overlay: 0, 0, 0, 0.8;
 
  --bg: 255, 244, 224; /* Light Beige */
  --bw: 255, 255, 255; /* White */
  --blank: 0, 0, 0;
  --border: 0, 0, 0;
  --text: 0, 0, 0;
  --mtext: 0, 0, 0;
  --ring: 0, 0, 0;
  --ring-offset: 255, 255, 255;

  --border-radius: 4px;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;
  --base-font-weight: 500;
  --heading-font-weight: 800;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px rgba(var(--border), 1);
}

.dark {
  --bg: 39, 41, 51;
  --bw: 33, 33, 33;
  --blank: 255, 255, 255;
  --border: 0, 0, 0;
  --text: 230, 230, 230;
  --mtext: 0, 0, 0;
  --ring: 255, 255, 255;
  --ring-offset: 0, 0, 0;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px rgba(var(--border), 1);
}




